<html>
  <head>
    <title>Paintings</title>
  </head>

  <body>
    <h1>Welcome to the Gallery of the Paintings House</h1>
    
    <br />

    <h2>The following are the segments of Paintings we have:</h2>

    <!--List of the segment titles-->

    {% if all_segments %}
      <ul>
        {% for segment in all_segments %}
          <li><a href="{% url 'nextseg' segment.id %}">{{ segment.artist_name }}</a></li>
        {%endfor%}
      </ul>
    {% else %}
      <h4>No Segment Found!! Sorry</h4> 
    {% endif %}

  </body>
