<html>
  <head>
    <title>{{ segment.artist_name }}</title>
  </head>

  <body>
    <h1>{{ segment.artist_name }}</h1>
    <br>
    <img src="{{ segment.artist_image }}" style="height: 200px;width: 200px;">
    <br>
    <h3>Details:</h3>
    <ul>
      <li>Artist ID: {{segment.id}}</li>
      <li>Artist Name: {{segment.artist_name}} </li>
      <li>Artist Type: {{segment.artist_type}} </li>
    </ul>

    <h3>The Paintings of the Artist are:</h3>
    {% if error_message %}
      <p><strong> {{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'like' segment.id %}" method="post">
      {% csrf_token %}
      {% for art in segment.artwork_set.all %}
        <input type="radio" name="artwork" id="song{{ forloop.counter }}" value="{{ art.id }}">
        <label for="song{{ forloop.counter }}">{{ art.painting_name }}
          <!--if the person has liked the song then the extra code is added to the label-->
          {% if art.painting_liked %}
            LIKED
          {% endif %}
        </label>
        <br>
      {% endfor %}
      <input type="submit" name="Like" value="Like/Unlike">
    </form>

  </body>
</html>
