<html>
  <head>
    <title>{{ segment.artist_name }}</title>
  </head>

  <body>
    <h1>{{ segment.artist_name }}</h1>
    <br>
    <img src="{{ segment.artist_image }}" style="height: 200px;width: 200px;">
    <br>
    <h3>Details:</h3>
    <ul>
      <li>Artist ID: {{segment.id}}</li>
      <li>Artist Name: {{segment.artist_name}} </li>
      <li>Artist Type: {{segment.artist_type}} </li>
    </ul>

    <h3>The Paintings of the Artist are:</h3>
    <ol>
      {%for art in artworks%}
      <li><a href="#">{{ art.painting_name }}</a></li>
      {%endfor%}
    </ol>
  </body>
</html>
